{% extends 'base.html' %}
{% block subtitle %}
    <center> Cadastro de Setor </center>
{% endblock subtitle %}
{% block conteudo %}
<body onload="load('{{load}}')">
    <form name="form" action="" enctype="multipart/form-data" method="post">
        <table align="center">
            <fildset>                            
                {{form.as_table}}    
	            <tr>
                    <td colspan="2">
                        <input type="submit" value="Cadastrar" onclick="mudar_valor();"/>
                        <input type="button" value="Voltar" onclick="history.go(-1)">
                    </td>
	            </tr>
	    </table>
    </form>   
{% endblock conteudo %}





